{% load static %} 1.4
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style1.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div> 
    <link href="/older/home.css" rel="stylesheet" /> 
    <div class="home-container">

        <div data-role="Header" class="home-navbar-container">
          <div class="home-navbar">
            <span class="Card-Heading home-heading">Logo</span>
            <div class="home-links-container">
              <span class="home-link Navbar-Link"><a href="about.html">About</a></span>
              <span class="home-link1 Navbar-Link"><a href="base.html">Base</a></span>
              <span class="home-link2 Navbar-Link"><a href="Co.html">Contact</a></span>
              <span class="Navbar-Link"><a href="home.html">Logout</a></span>
              <span class="Navbar-Link"><a href="home.html">Register</a></span>
              <span class="Navbar-Link"><a href="home.html">Login</a></span>
              <span class="Navbar-Link"><a href="home.html">Profile</a></span>
              <span class="Navbar-Link"><a href="home.html">Home</a></span>
            </div>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
        Zachodniopomorskie projekt 2023 4TB
        </footer>
    </div>
</div>    
</body>
</html>
