{% load static %} 1.4
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style1.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="about.html}">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
        Zachodniopomorskie projekt 2023 4TB
    </footer>
</body>
</html>
