<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/components/leaflet.js"></script>
    
  
 
  
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

   
    <link rel="stylesheet" href="/components/leaflet.css">
    
    <link rel="stylesheet" href="/older/style.css" />
    <script src="script.js"></script>
  </head>
  
  
  
  <body>
    <div>
      
      <link href="/older/home.css" rel="stylesheet" /> 

       

      <div class="home-container">

        <div data-role="Header" class="home-navbar-container">
          <div class="home-navbar">
            <span class="Card-Heading home-heading"><img src="map.png" height="50px" width="50px"></span>
            <div class="home-links-container">
              <span class="home-link Navbar-Link"><a href="about.html">About</a></span>
              <span class="home-link1 Navbar-Link"><a href="base.html">Base</a></span>
              <span class="home-link2 Navbar-Link"><a href="contact.html">Contact</a></span>
              <span class="home-link2 Navbar-Link"><a href="home.html">Logout</a></span>
              <span class="home-link2 Navbar-Link"><a href="home.html">Register</a></span>
              <span class="home-link2 Navbar-Link"><a href="home.html">Login</a></span>
              <span class="home-link2 Navbar-Link"><a href="home.html">Profile</a></span>
              <span class="Navbar-Link"><a href="home.html">Home</a></span>
            </div>
             

          
          </div>
        </div>
         
          <div class="home-hero" >
         
          

            
          </div>
        
       
      </div>
 
       
    </div>


     
     

   
  </body>
</html>
