body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 1em;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    margin-right: 1em;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 1em;
    height: 810px;
    background-color: #bea7ab;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 1em;
    text-align: center;
  }

  .home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-navbar-container {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .home-navbar {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }